@page "/mybooks"
@using LectorNet.Contracts.Books
@using LectorNet.UI.Services
@using Microsoft.AspNetCore.Authorization

@inject ApiService ApiService
@inject ILogger<Books> Logger;

@rendermode InteractiveServer

@attribute [Authorize]

<h2>Vos Livres </h2>

<section>
    @if (_books?.Count > 0)
    {
        <table>
            <tr>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Isbn</th>
                <th>Genre</th>
                <th>Année de publication</th>
                <th>Maison d'édition</th>
                <th>Nombre de pages</th>
                <th>Livre déja lu ?</th>
                <th></th>
            </tr>
            @foreach (var book in _books)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Isbn</td>
                    <td>@book.Genre</td>
                    <td>@book.PublicationYear</td>
                    <td>@book.PublishingHouse</td>
                    <td>@book.NumberOfPages</td>
                    <td>@(book.AlreadyRead ? "Oui" : "Non")</td>
                    <td>
                        <div class="user-action">
                            <img src="images/edit.svg" alt="modifier" @onclick="UpdateBook"/>
                            <img src="images/delete.svg" alt="supprimer" @onclick="@(() => DeleteBook(book.Id))"/>
                        </div>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
    <p> Vous n’avez encore ajouté aucun livre.</p>
    }
</section>



@code {

    List<BookResponse>? _books;
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            Logger.LogInformation("Fetching books");
            
            var responseMessage = await ApiService.GetAsync("books");

            _books = await responseMessage.Content.ReadFromJsonAsync<List<BookResponse>>();
        }
        catch (Exception e)
        {
            Logger.LogError("Error fetching books ! {Error}", e.Message);
        }
    }

    private async Task DeleteBook(Guid id)
    {
        try
        {
            Logger.LogInformation("Deleting book with ID {id}", id);
            var response = await ApiService.DeleteAsync("books",id);
        }
        catch (Exception e)
        {
            Logger.LogError("Error deleting book with ID {id} : {ErrorMessage}", id, e.Message);
        }
    }

    private void UpdateBook()
    {
        Console.WriteLine("Update!");
    }

}